{% extends "template.html" %}


{% block body %}
    <h1>{{ element['name'] }}</h1>

    <ul>
        {% for l in dashboard['first'] %}
            <li>Ci sono <b>{{ l[0] }}</b> persone davanti a te in <b>{{ l[1] }}</b> <i>(Prossimo interrogato)</i></li>
        {% endfor %}

        {% for l in dashboard['second'] %}
            <li>Ci sono <b>{{ l[0] }}</b> persone davanti a te in <b>{{ l[1] }}</b> <i>(Riserva)</i></li>
        {% endfor %}

        {% for l in dashboard['other'] %}
            <li>Ci sono <b>{{ l[0] }}</b> persone davanti a te in <b>{{ l[1] }}</b></li>
        {% endfor %}

        <br>

        {% for l in dashboard['done'] %}
            <li>Hai già fatto l'interrogazione di <b>{{ l[1] }}</b></li>
        {% endfor %}
    </ul>
{% endblock %}
