{% extends "template.html" %}


{% block body %}
    <h1>{{ element['name'] }}</h1>

    <ul>
        <li>Ci sono <b>2</b> persone davanti a te in <b>Educazione Civica (TLC)</b> <i>(Prossimo interrogato)</i></li>
        <li>Ci sono <b>6</b> persone davanti a te in <b>Telecomunicazioni</b> <i>(Riserva)</i></li>
        <li>Ci sono <b>8</b> persone davanti a te in <b>Inglese</b></li>

        <br>

        <li>Hai già fatto l'interrogazione di <b>TPS</b></li>
        <li>Hai già fatto l'interrogazione di <b>Informatica</b></li>
    </ul>
{% endblock %}
