{% extends "template.html" %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/element.css') }}">
{% endblock %}

{% block body %}
    <h1>{{ element['name'] }}</h1>

    <ul>
        {% for l in dashboard['first'] %}
            {% if l[0] == 0 %}
                <li>Sei il primo nella lista in <b><a href="/lists/{{ l[2] }}">{{ l[1] }}</a></b> <i>(Prossimo interrogato)</i></li>
            {% else %}
                <li>Ci sono <b>{{ l[0] }}</b> persone davanti a te in <b><a href="/lists/{{ l[2] }}">{{ l[1] }}</a></b> <i>(Prossimo interrogato)</i></li>
            {% endif %}
        {% endfor %}

        {% for l in dashboard['second'] %}
            <li>Ci sono <b>{{ l[0] }}</b> persone davanti a te in <b><a href="/lists/{{ l[2] }}">{{ l[1] }}</a></b> <i>(Riserva)</i></li>
        {% endfor %}

        {% for l in dashboard['other'] %}
            <li>Ci sono <b>{{ l[0] }}</b> persone davanti a te in <b><a href="/lists/{{ l[2] }}">{{ l[1] }}</a></b></li>
        {% endfor %}

        <br>

        {% for l in dashboard['done'] %}
            <li>Hai già fatto l'interrogazione di <b><a href="/lists/{{ l[2] }}">{{ l[1] }}</a></b></li>
        {% endfor %}
    </ul>
{% endblock %}
