{% extends "template.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='script/list_colors.js') }}" defer></script>
{% endblock %}

{% block body %}
    <a href="lists">Vedi interrogazioni per lista</a>
    <a href="students">Vedi interrogazioni per studente</a>

    <div class="categories">Prossime interrogazioni</div>

    <!-- Container of lists -->
    <div class="flex">
        <!-- List -->
        {% for list in dashboard %}
            <div class="list">
                <div class="subject">{{ list['name'] }}</div>

                {% for element in list['group_1'] %}
                    <div>{{ element }}</div>
                {% endfor %}

                <br>

                {% for element in list['group_2'] %}
                    <div class="reserves">{{ element }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <br>

    {% if is_admin %}
        <a href='/logout' id="login-button">Esci</a>
        <a href='/lists/new'>Crea una nuova lista</a>
    {% else %}
        <a href='/login' id="login-button">Accedi come admin</a>
    {% endif %}
{% endblock %}
