{% extends "template.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
{% endblock %}


{% block body %}
    <div class="categories">Prossime interrogazioni:</div>

    <!-- Container of lists -->
    <div class="flex">
        <!-- List -->
        {% for list in dashboard %}
            <div class="list">
                <div class="subject">{{ list['name'] }}</div>

                {% for element in list['first_group'] %}
                    <div>{{ element }}</div>
                {% endfor %}

                <br>

                {% for element in list['second_group'] %}
                    <div class="reserves">{{ element }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="link" onclick="location='lists';">Vedi interrogazioni per lista</div>
    <div class="link" onclick="location='elements';">Vedi interrogazioni per studente</div>
{% endblock %}
