{% extends "template.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
{% endblock %}

{% block js %}
    <script>
        $(function () {
            let loginButton = $("#login-button");

            if (document.cookie.length > 6) {
                loginButton.text("Esci");
                loginButton.attr("href", "/logout");
            } else {
                loginButton.text("Accedi come admin");
                loginButton.attr("href", "/login");
            }
        });
    </script>
{% endblock %}


{% block body %}
    <a href="lists">Vedi interrogazioni per lista</a>
    <a href="elements">Vedi interrogazioni per studente</a>

    <div class="categories">Prossime interrogazioni:</div>

    <!-- Container of lists -->
    <div class="flex">
        <!-- List -->
        {% for list in dashboard %}
            <div class="list">
                <div class="subject">{{ list['name'] }}</div>

                {% for element in list['first_group'] %}
                    <div>{{ element }}</div>
                {% endfor %}

                <br>

                {% for element in list['second_group'] %}
                    <div class="reserves">{{ element }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <br>

    <a id="login-button"></a>
{% endblock %}
