{% extends "template.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/list.css') }}">
{% endblock %}


{% block body %}
    <h1>{{ list['name'] }}</h1>

    <ul>
        {% for element in list['order'] %}
            <li>
                <input type='checkbox' disabled {{ 'checked' if element['checked'] }}>
                <span> {{ element['name'] }}</span>

                <div class="buttons">
                    <button>&#8593;</button>
                    <button>&#8595;</button>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
