{% extends "template.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/list.css') }}">
{% endblock %}

{% if is_admin %}
    {% block js %}
        <script src="{{ url_for('static', filename='script/buttons.js') }}"></script>
    {% endblock %}
{% endif %}

{% block body %}
    <h1>{{ list.name }}</h1>

    {% if not list.ordered %}
        <h2>NB: l'ordine non conta</h2>
    {% endif %}

    {% if is_admin %}
        <form action="/lists/{{ list.index }}/delete" method="POST" onsubmit="return confirmDeletion()">
            <input type="submit" class="hide" value="Elimina lista">
        </form>
    {% endif %}

    <form action="/lists/{{ list.index }}/update" method="POST">
        {% if is_admin %}
            <button type="button" onclick="showForm();" class="show">Modifica</button>
            <input type="submit" class="hide" value="Conferma">
        {% endif %}

        <table>
            {% for student in dashboard %}
                <tr id="{{ student[1] }}-div">
                    <td class="students-names-cells">
                        <input type="checkbox" name="{{ student[1] }}-checked" {{ 'checked' if student[3] }} hidden>
                        <span class="name {{ 'name-admin' if is_admin }} {{ 'name-checked' if student[3] }}">{{ student[2] }}</span>
                    </td>

                    {% if is_admin %}
                        <td>
                            <input type="number" name="{{ student[1] }}-order" id="{{ student[1] }}-order" value="{{ student[0] + 1 }}" hidden>

                            <button type="button" onclick="moveToTop(this);" class="hide arrow">&#8593;&#8593;</button>
                            <button type="button" onclick="moveUp(this);" class="hide arrow">&#8593;</button>
                            <button type="button" onclick="moveDown(this);" class="hide arrow">&#8595;</button>
                            <button type="button" onclick="moveToBottom(this);" class="hide arrow">&#8595;&#8595;</button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}
