{% extends "template.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/list.css') }}">
{% endblock %}

{% if is_admin %}
    {% block js %}
        <script src="{{ url_for('static', filename='script/buttons.js') }}"></script>
    {% endblock %}
{% endif %}

{% block body %}
    <h1>{{ list['name'] }}</h1>

    {% if is_admin %}
        <form action="/lists/{{ list['id'] }}/delete" method="POST" onsubmit="return confirmDeletion()">
            <input type="submit" class="hide" value="Elimina lista">
        </form>
    {% endif %}

    <form action="/lists/{{ list['id'] }}/update" method="POST">
        {% if is_admin %}
            <button type="button" onclick="showForm();" class="show">Modifica</button>
            <input type="submit" class="hide" value="Conferma">
        {% endif %}

        <ul>
            {% for element in list['order'] %}
                <li id="{{ element['id'] }}-div">
                    <div class="name-box">
                        <input type="checkbox" class="name-checkbox" name="{{ element['id'] }}-checked" {{ 'checked' if element['checked'] }}>
                        <span {% if is_admin and element['checked'] %} class="name name-admin-checked" {% elif is_admin %} class="name name-admin" {% elif element['checked'] %} class="name name-checked" {% endif %}>{{ element['name'] }}</span>
                    </div>

                    {% if is_admin %}
                        <input type="number" name="{{ element['id'] }}-order" id="{{ element['id'] }}-order" value="{{ list['order'].index(element) + 1 }}" hidden>

                        <div class="buttons">
                            <button type="button" onclick="moveToTop(this);" class="hide arrow">&#8593;&#8593;</button>
                            <button type="button" onclick="moveUp(this);" class="hide arrow">&#8593;</button>
                            <button type="button" onclick="moveDown(this);" class="hide arrow">&#8595;</button>
                            <button type="button" onclick="moveToBottom(this);" class="hide arrow">&#8595;&#8595;</button>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </form>
{% endblock %}
