<!DOCTYPE html>

<html>
    <head>
        <title>Interrogazioni</title>

        <!-- Meta -->
        <meta lang="it">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
        <link rel="icon" type="image/png" href="https://image.flaticon.com/icons/png/512/150/150360.png">
        {% block css %}{% endblock %}

        {% block js %}{% endblock %}
    </head>

    <body>
        <div id="page-title">Interrogazioni</div>

        {% if not index|default(false,false) %}
            <a id="back-button" href="javascript:history.back()">Indietro</a>
        {% endif %}

        {% block body %}{% endblock %}
    </body>

    {% if error|default('',false) %}
        <script>alert("{{ error }}");</script>
    {% endif %}
</html>
