<!DOCTYPE html>

<html>
    <head>
        <title>Interrogazioni</title>

        <!-- Meta -->
        <meta lang="it">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
        <link rel="icon" type="image/png" href="https://image.flaticon.com/icons/png/512/150/150360.png">
        {% block css %}{% endblock %}

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <div id="page-title">Interrogazioni</div>

        <div class="link" id="login-button"></div>

        {% if not index|default(false,false) %}
            <div class="link" id="back-button" onclick="location='..';">Indietro</div>
        {% endif %}

        {% block body %}{% endblock %}
    </body>

    {% if error|default('',false) %}
        <script>alert("{{ error }}");</script>
    {% endif %}

    <script>
        let loginButton = $("#login-button");

        if (document.cookie.length > 6) {
            loginButton.text("Esci");
            loginButton.click(function () { location = '/logout'; });
        } else {
            loginButton.text("Accedi come admin");
            loginButton.click(function () { location = '/login'; });
        }
    </script>
</html>
