<!DOCTYPE html>

<html>
    <head>
        <title>Interrogazioni</title>

        <!-- Meta -->
        <meta lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
        {% block css %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>
