.categories {
    margin-top: 3vh;

    font-weight: bold;
    font-size: 1.3em;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.list {
    margin: 1vh 1vh 0 0;
    padding: 1vw;

    border-radius: 10px;

    background-color: var(--main);
}

.subject {
    font-weight: bold;

    margin-bottom: .5vh;

    color: white;
}

.reserves { font-style: italic; }


@media screen and (max-width: 800px) {
    .list {
        margin: 1vh;
        padding: 2vw;

        flex: 1 0 19vh;
    }
}
