.categories {
    margin-top: 3vh;

    font-weight: bold;
    font-size: 1.3em;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.list {
    margin: 1vh 1vh 0 0;
    padding: 1vw;

    border-radius: 10px;
}

.subject {
    font-weight: bolder;

    padding-bottom: 1vh;
    border-bottom: 1px solid;
    margin-bottom: 2vh;

    color: var(--foreground);
}

.reserves { font-style: italic; }


@media screen and (max-width: 800px) {
    .list {
        margin: 1vh;
        padding: 2vw;

        flex: 1 0 19vh;
    }
}
