form { display: inline; }

label { margin: 0; }

.students-names-cells { padding-right: 1vw; }

.name:hover { cursor: default; }

.name-checked { text-decoration: line-through; }

.name-admin:hover {
    font-style: italic;

    cursor: pointer;
}

.hide { display: none; }

.show { display: block; }

.arrow {
    margin: 1px;
    padding: 10px;

    line-height: 0;

    border: .1px solid;
    border-radius: 3px;
}
