ul { padding: 0; }

li {
    display: flex;

    justify-content: space-between;

    width: 85%;
}

.hide { display: none; }

.show { display: block; }

.arrow {
    margin: 1px;
    padding: 10px;

    line-height: 0;

    border: .1px solid;
    border-radius: 3px;
}

@media screen and (min-width: 1000px) {
    li { width: 15%; }
}
