ul { padding: 0; }

li {
    display: flex;

    justify-content: space-between;

    margin-top: 2px;
}

form {
    display: inline;
}

.name-box {
    width: max-width;
}

.name-checkbox { display: none; }

.name-admin:hover {
    cursor: pointer;

    text-decoration: line-through;

    font-style: italic;
}

.name-checked { text-decoration: line-through; }

.name-admin-checked { text-decoration: line-through; }

.name-admin-checked:hover {
    cursor: pointer;

    text-decoration: none;

    font-style: italic;
}

.hide { display: none; }

.show { display: block; }

.arrow {
    margin: 1px;
    padding: 10px;

    line-height: 0;

    border: .1px solid;
    border-radius: 3px;
}


@media screen and (min-width: 370px) {
    li { width: 350px; }
}
