:root {
    --background: #282828;
    --foreground: #ebdbb2;
    --link: #a89983;

    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --purple: #b16286;
    --aqua: #689d6a;
    --orange: #d65d0e;
}

html, body {
    height: auto;
    width: auto;

    font-family: 'Roboto', sans-serif;

    background-color: var(--background);
    color: var(--foreground);
}

#page-title {
    font-size: 2.5em;
    font-weight: bold;
}

a {
    display: block;

    margin-top: 1vh;

    width: max-content;

    color: var(--link);
}

a:hover {
    text-decoration: none;

    cursor: pointer;
}

form > input { margin-bottom: 1vh; }

label {
    display: block;

    margin-bottom: .5vh;
}

input[type=text], input[type=number], input[type=password] {
    padding: .7vh;

    border: none;
    border-radius: 3px;
}

input[type=submit], button {
    margin: 10px 0;
    padding: 8px 16px;

    border: 2px solid var(--foreground);
    border-radius: 3px;

    background-color: var(--foreground);
    color: var(--background);

    text-align: center;
    font-weight: bold;

    transition-duration: .2s;
    -webkit-transition-duration: .2s; /* Chrome, Opera, Safari */

    cursor: pointer;
}

input[type=submit]:hover, button:hover {
    background-color: var(--background);
    color: var(--foreground);
}
