:root {
    --background: #262626;
    --main: #B3001B;
/*  --main-alt: #255C99; */
}

html, body {
    height: auto;
    width: auto;

    font-family: 'Roboto', sans-serif;

    background-color: var(--background);
    color: white;
}

a { color: white; }

#page-title {
    font-size: 2.5em;
    font-weight: bold;
}
